<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<div>
    <h3>All Users</h3>
</div>
<div th:switch="${users}">
    <div>
        <h2 th:case="null">No Users yet!</h2>
        <div th:case="*">
            <table>
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.address}"></td>
                        <td th:text="${user.email}"></td>
                        <td><a th:href="@{/users/edit/{id} (id=${user.id}) }">Edit</a></td>
                        <td><a th:href="@{/users/delete/{id} (id=${user.id}) }">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>